project:
  type: website
  output-dir: .

website:
  title: "Ryan Clark"
  navbar:
    left:
      - href: index.html
        text: Home
      - href: research.html
        text: Research
        
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

