/* css styles */

/* Banner background */
.navbar, header.site-header {
  background-color: #F5E6D0 !important; /* Husker Cream */
}

/* Banner text / links */
.navbar a, .site-header a, .navbar span, .site-header span {
  color: #D00000 !important; /* Husker Scarlet */
}

.navbar a:hover, .site-header a:hover {
  color: #D00000 !important; /* lighter shade on hover */
}

/* Links under profile picture */
.profile-links a {
  color: #D00000;        /* Husker Scarlet, change if you want */
  text-decoration: none;  /* no underline by default */
}

.profile-links a:hover {
  text-decoration: underline; /* show underline on hover */
}

/* This targets the profile image specifically */
.about-entity img {
  aspect-ratio: 3 / 4;    /* Forces a vertical rectangle shape */
  object-fit: cover;      /* Prevents stretching */
  border-radius: 50%;     /* Rounds the corners into an oval */
}


.navbar-nav .nav-link.active {
  background-color: transparent;
  color: #555 !important;
  border-bottom: 3px solid #bdbdbd;
}

.navbar-nav .nav-link:hover {
  background-color: #f0f0f0;
  border-radius: 5px;
}


/* ONLY color the heading text */
h1.unl, h2.unl, h3.unl, h4.unl, h5.unl, h6.unl {
  color: #D00000;  /* UNL Scarlet */
}

h1.ku, h2.ku, h3.ku, h4.ku, h5.ku, h6.ku {
  color: #0051BA;  /* KU Blue */
}
